/*kommentti*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); 


body {color: rgb(14, 4, 4); /*tekstin väri*/
    background: linear-gradient(90deg, #D4A373 43%, #fefefe 43%);/*taustaväri*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    font-family: "Manrope", sans-serif;
}

/*resumen laatikko*/
section {
    background-color: #FAEDCD;
    padding-top: 30px;
    margin:auto;
    
    margin-bottom: 20px;
    width:60vw;
    padding: 20px;
   
    box-shadow: -1px 1px 5px rgb(202, 172, 172);
}
.resume {
margin-top:20px;
}

main { background: linear-gradient(90deg, #FAEDCD 50%, #fefefe 50%);
    display:flex;
    height:30%;
    min-height: 350px;
    flex-direction: row;
   
    padding: 5px; /*reunuksen ja sisällön välissä*/
      
    width: 25%; /* leveys*/
    min-width: 350px;
    max-width: 1200px; /*maksimileveys*/
    margin:auto; /*keskitys sivun keskelle*/
     /*kulmien pehmennys*/
     position:relative;
     left:0;
     top:100px;
    box-shadow: -1px 1px 5px rgb(202, 172, 172); /*heittovarjo*/
}
    nav {background-color: #FEFAE0;
        position: fixed;
        top:0;
        left:0;
        width:100%;
        text-align: right; }/*keskittää linkit*/


    nav a {color: black; /*linkin väri*/
        font-size:smaller;
        padding: 10px;
        display:inline-block;
        width: 5em;
        margin-top: 10px;
        text-decoration: none; /*alleviivaus pois*/

        
    } 
    .main1 {
        width:50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        

        
        
    }
    .main2 {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        width:50%;
       
        padding:15px;
    }
.jasmin {
   
    display:flex;
    border-radius:50%; 
}


h1 { color: rgb(0, 0, 0);
    font-family: "Manrope", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
.hline {
    display:flex;
    margin: auto;
    height:1px;
    width:50px;
    background-color:black;
}
.btnContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn {
    background-color: #cc663a;
    color:white;
    width: 80px;
    margin-bottom: 5px;
    border-radius: 20px;
    font-family: "Manrope";
}
.btn:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}
.btn2 {
    width: 80px;
    border-radius: 20px;
    font-family: "Manrope";
}
.btn2:hover {
    background-color: #cc663a;
    color:white;
}
/*mobiilinäkymä*/
@media (max-width:570px){
h1 {font-size: 24px;}
}
footer {
    display: flex;
    flex-direction: row;

    
   justify-content:flex-start;
    background-color: #FEFAE0;
    height:60px;
    width: 100%;
    position: fixed;
    left:0;
    bottom:0;
    
}
footer p {width: 25%
        
}
.footerLeft {
    margin-left: 10%;
}

@media(max-width:600px){
    footer p {width: 50%;}
    .main1, .main2 {width: 100%;}
    }
@media(min-width:800px){
   
    }

.keskelle {text-align:center;} 

.keskelle img {width: 100%; /*skaalautuu mobiiliin */
                max-width: 600px; /*maksimileveys*/
            }